<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Obtener un listado de viajes programados</h4>
                <div class="table-responsive m-t-40">
                    <div id="myTable_wrapper" class="dataTables_wrapper no-footer">
                        <table id="myTable" class="table table-bordered table-striped dataTable no-footer" role="grid" aria-describedby="myTable_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 224px;">Origen</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 55px;">Destino</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 94px;">Resolución</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 104px;">Hora</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 104px;">Fecha</th>
                                    <th tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 85px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tr of displayTable" role="row" class="odd">
                                    <td *ngIf="_auth._key == tr._data.admin" class="sorting_1"> {{ tr._data.Ruta.origen }} </td>
                                    <td *ngIf="_auth._key == tr._data.admin"> {{ tr._data.Ruta.destino }} </td>
                                    <td *ngIf="_auth._key == tr._data.admin"> {{ tr._data.Ruta.nroresolucion }} </td>
                                    <td *ngIf="_auth._key == tr._data.admin"> {{ tr._data.Ruta.hora }} </td>
                                    <td *ngIf="_auth._key == tr._data.admin"> {{ tr._data.Ruta.fecha }} </td>
                                    <td *ngIf="_auth._key == tr._data.admin">
                                        <button (click)="linkOffline(tr.key)" class="btn btn-outline-primary">
                                      <i class="fa fa-eye"></i>
                                    </button>
                                        <button (click)="Confirmation(tr.key)" style="margin-left: 5px" class="btn btn-outline-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>