<!-- MAIN -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header -->
    <!-- ============================================================== -->
    <app-header></app-header>
    <!-- ============================================================== -->
    <!-- Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- sidebar -->
    <!-- ============================================================== -->
    <app-sidebar></app-sidebar>
    <!-- ============================================================== -->
    <!-- sidebar -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- breadcrumbs -->
            <!-- ============================================================== -->
            <app-breadcrumbs></app-breadcrumbs>
            <!-- ============================================================== -->
            <!-- breadcrumbs -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- page content -->
            <!-- ============================================================== -->
            <router-outlet></router-outlet>
            <!-- ============================================================== -->
            <!-- page content -->
            <!-- ============================================================== -->
        </div>
        <app-footer></app-footer>
    </div>
</div>