<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-clipboard-account"></i>
                    <span class="hide-menu">Dashboard <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <!--<li><a [routerLink]="['/usuarios']">Información personal </a></li>-->
                        <!--<li><a [routerLink]="['/']">ROL</a></li>-->
                        <li><a [routerLink]="['/caja']">Cuadre de caja</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="mdi mdi-truck"></i>
                    <span class="hide-menu">Transporte</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <!--<li><a [routerLink]="['/viajes']">Viajes</a></li>-->
                        <!--<li><a [routerLink]="['/rutas']">Rutas</a></li>-->
                        <li><a [routerLink]="['/pasajeros']">Pasajeros</a></li>
                        <!--<li><a [routerLink]="['/bus']">Buses</a></li>-->
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>